#scroll,
#list {
  cursor: default;
}

#list {
  width: auto;
  border-radius: 5px;
  margin-bottom: 7px;
}

#scroll {
  width: 380px;
  background-color: #f0f0f0;
  margin-left: auto;
  height: 100vh;
}

.dx-scrollable-content {
  position: relative;
}

.dx-draggable-source {
  opacity: 0.5;
}

.dx-draggable-dragging > * {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #5ae1dc;
}

.dx-scheduler-navigator-caption {
  pointer-events: none;
}
