* {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

#scroll,
#list {
  cursor: default;
}

.dx-toolbar-after {
  display: none;
}

.dx-scrollable-content {
  position: relative;
}

.dx-draggable-source {
  opacity: 0.5;
}

.dx-draggable-dragging > * {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
}

.dx-scheduler-navigator-caption {
  pointer-events: none;
}

.dx-widget .dx-scheduler-appointment {
  box-sizing: content-box;
  padding-right: 22px;
}
.dx-scheduler-timeline .dx-scheduler-appointment,
.dx-scheduler-work-space-month .dx-scheduler-appointment,
.dx-scheduler-all-day-appointment .dx-scheduler-appointment {
  box-sizing: border-box;
  padding-right: 0;
}

.dx-buttongroup-item.dx-button.dx-button-mode-contained:not(.dx-item-selected) {
  background-color: white !important;
  border: none;
}

.dx-device-mobile .dx-toolbar-after .dx-toolbar-item:first-child {
  display: none;
  pointer-events: none;
}

.dx-buttongroup-item.dx-button.dx-button-mode-contained.dx-button-normal.dx-state-hover {
  background-color: white;
  border: none;
}

.dx-buttongroup-item.dx-button.dx-button-mode-contained.dx-button-normal.dx-item-selected {
  display: none;
  pointer-events: none;
}

/* Change progressbar color (guidechimp UI) */
.gc-progressbar {
  background-color: #268c88;
}

.gc-pagination-item.gc-pagination-item-current.gc-pagination-active {
  background-color: #00dfd7;
}

.gc-copyright {
  display: none;
}

.gc-description {
  line-height: 20px;
}

.onboarding-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

#never-show-up-today {
  margin-right: 10px;
  accent-color: #838383;
}

.popout {
  display: flex;
  justify-content: center;
}
