/* Change progressbar color */
.gc-progressbar {
  background-color: #268c88;
}

.gc-pagination-item.gc-pagination-item-current.gc-pagination-active {
  background-color: #00dfd7;
}

.gc-copyright {
  display: none;
}

.gc-description {
  line-height: 20px;
}
